doctype html
html(lang="en")
    head
        title= `${title} | ${siteName}`
        link(rel="stylesheet", href="/static/css/style.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        include mixins/_header.pug
        block content
        include mixins/_footer.pug
        
        block scripts
            script(src="/static/javascript/scripts.js")